!!!5

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }

  %head
    %title Logginator
    %link{ :href => '/results.css', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src => '/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/rails.js', :type => 'text/javascript' }
    %script{ :src => '/logginator.js', :type => 'text/javascript' }

  %body
    %form{ :action => '/search', :method => 'get', :id => 'search', 'data-remote' => true }
      %fieldset
        .field
          %label{ :for => 'controller' } Controller:
          %input{ :type => 'text', :name => 'q[controller]', :id => 'controller' }
          %label{ :for => 'action' } Action:
          %input{ :type => 'text', :name => 'q[action]', :id => 'action' }
        .field
          %label{ :for => 'from' } From:
          %input{ :type => 'text', :name => 'q[from]', :id => 'from' }
          %label{ :for => 'to' } To:
          %input{ :type => 'text', :name => 'q[to]', :id => 'to' }
      %fieldset.params
        %legend Params
        .field
          %input{ :type => 'text', :name => 'q[param][][key]' }
          %input{ :type => 'text', :name => 'q[param][][value]' }
      .submit
        %input{ :type => 'submit', :value => 'Update Results' }

    #summaries
      = haml :summaries

    #detail
      = haml :detail
